#{extends 'main.html' /}
#{set title:'Workout' /}

${exercise?.name}

<div class="workoutFrame">
	<h4>Previous:</h4>
</div>

<div class="workoutFrame">
	#{if exercise}
		<h4>Current:</h4>
		#{form @Workout.postExerciseResult(workoutSession.id, exercise.id, nextExercise ? nextExercise.id : -1)}
			#{if exercise.leftRightSeparate}
				<!-- left and right separate moves have two inputs, one per side -->
			#{/if}
			#{else}
				<!-- this is an exercise like barbell bench - one input for weight/rep count -->
				<!-- TODO use input type="number", using number polyfill https://github.com/jonstipe/number-polyfill -->
				<input type="text" name="sharedRepCount" id="sharedRepCount" maxlength="3"/> reps
				<input type="text" name="sharedRepWeight" id="sharedRepWeight" maxlength="3"/> lbs +
				#{if user.bandset.size() > 0 }
					<br/>
					#{list items:user.bandset, as:"band"}
					<input type="checkbox" id="sharedBand${band}" name="bandSet" value="${band}"/>${band}
					#{/list}
				#{/if}
			#{/else}
			#{if nextExercise}
				<!--a class="button" href="/Workout/${workoutSession.id}/${nextExercise.id}">Next</a-->
				<input type="submit" value="Next" class="advanceButton"/>
			#{/if}
			#{else}
				<a class="button">Done!</a>
			#{/else}
		#{/form}
	#{/if}
	#{else}
		No exercise defined!
	#{/else}
</div>

#{if nextExercise}
	<div class="workoutFrame">
		<h4>Next:</h4>
		${nextExercise.plan.name}
	</div>
#{/if}